@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong,
.strong {
  font-weight: bold;
}

dfn,
em,
.em {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

pre {
  margin: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before,
q:after {
  content: "";
  content: none;
}

small, .small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0;
}

menu {
  padding: 0 0 0 40px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}

span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
  content: "";
  display: table;
}

.vh {
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  background: #aa1731;
  color: white;
  display: inline-block;
  padding: 0.35rem 0;
  text-align: center;
  text-decoration: none;
}
.btn:hover, .btn:focus {
  text-decoration: underline;
}

.journo-list-menu {
  list-style: disc;
  margin: 0;
}
.journo-list-menu img {
  display: block;
  height: 5rem;
}
.journo-list-menu a:hover, .journo-list-menu a:focus {
  color: #aa1731;
}

.js-enabled .journo-list-nav {
  bottom: 1.25rem;
  height: 5rem;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}
.js-enabled .journo-list-nav .inner {
  background: red;
  position: absolute;
  width: 10000px;
}
.js-enabled p.carousel-buttons {
  bottom: 0;
  font-size: 0.7rem;
  left: 0;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}
.js-enabled p.carousel-buttons button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #aa1731;
}
.js-enabled p.carousel-buttons button:hover, .js-enabled p.carousel-buttons button:focus {
  text-decoration: underline;
}
.js-enabled .journo-list-menu {
  background: red;
  position: absolute;
  display: inline-block;
  float: left;
  width: auto;
}
.js-enabled .journo-list-menu li {
  display: block;
  float: left;
  list-style: none;
}
.js-enabled .journo-list-menu a {
  display: block;
}

@keyframes titleSlideOutIn {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes textSlideOutIn {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes wholeThingSlideOutIn {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
.journo-list li {
  animation: 0.8s ease-out 0s 1 wholeThingSlideOutIn;
}
.journo-list .image-space {
  height: 0;
  padding-bottom: 70%;
}
.journo-list .image-space img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .journo-list .image-space {
    padding-bottom: 30%;
  }
}
.journo-list .title {
  animation: 0.8s ease-out 0s 1 titleSlideOutIn;
  position: relative;
}
.journo-list .title:after {
  animation: 0.45s ease-in-out 0s 1 textSlideOutIn;
  background: #aa1731;
  border-top: 1px solid #353535;
  bottom: -1rem;
  content: "";
  display: block;
  height: 0.6rem;
  right: 0;
  position: absolute;
  width: 1000%;
}
.journo-list p {
  animation: 0.75s ease-out 0s 1 textSlideOutIn;
}

.js-enabled {
  /*.journo-list li:not(:first-child){
      display: none;
  }*/
}
.js-enabled .journo-list li {
  display: block;
}
.js-enabled .journo-list li:not(:first-child) {
  display: none;
}

/*.infinite-carousel-shell {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.infinite-carousel-group {
  height: 100%;
}

.infinite-carousel-vertical {
  width: 100%;
}

.infinite-carousel-horizontal .infinite-carousel-group-item {
  float: left;
  height: 100%;
}*/
.our-journalists .carousel-buttons {
  display: none;
}
@supports (display: grid) {
  .js-enabled .our-journalists {
    padding-bottom: 5.25rem;
  }
  .js-enabled .our-journalists .carousel-buttons {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
