// the main section with the carousel
.our-journalists {
    .js-enabled & {
        padding-bottom: 5.25rem; // attn: must correspond with nav height
        .carousel-buttons {
            display: block;
        }
    }
}

// buttons for stopping/starting the carousel
p.carousel-buttons {
    bottom: 0;
    display: none;
    font-size: 0.7rem;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        color: $red;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    .js-enabled & {
        display: block;
    }
}

// just a little extra sugar to make the images
// and text line up nicely across screen sizes
.support-list {
    @media only screen and (min-width: 500px) {
        @supports( display: grid ){
            li {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 1rem;
                align-items: center;
                img {
                    float: none;
                    padding-right: 0;
                    width: 100%;
                }
                div {
                    float: none;
                    padding-left: 0;
                    width: 100%;
                }
            }
            li:last-child {
                img {
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                div {
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
            }
        }
    }
}

// the little disclaimer at the bottom
.disclaimer {
    background: $red;
    a {
        color: white;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}