@import "base/normalize";
@import "base/mixins";
@import "base/color";
@import "base/helpers";

@import "components/button";
@import "components/journo-list-nav";
@import "components/journo-list";

.our-journalists {

    @supports(display:grid){
        
        .js-enabled & {
            padding-bottom: 4rem;
            /*@supports(display: grid){
                display: grid;
                grid-template-rows: auto auto auto;
                .journo-list-nav {
                    position: relative;
                }
            }*/
        }
    }
    

}