.journo-list-menu {
    list-style: disc;
    margin: 0;
    img {
        display: block;
        height: 5rem;
    }
    a {
        &:hover,
        &:focus {
            color: $red;
        }
    }
}

.js-enabled {

    .journo-list-nav {
        bottom: 0;
        height: 5rem;
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    .journo-list-menu {
        background: red;
        li {
            display: block;
            float: left;
            list-style: none;
        }
    }

}