.journo-list-menu {
    list-style: disc;
    margin: 0;
    img {
        display: block;
        height: 5rem;
    }
    a {
        &:hover,
        &:focus {
            color: $red;
        }
    }
}

.js-enabled {

    .journo-list-nav {
        bottom: 1.25rem;
        height: 5rem;
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 100%;
        .inner {
            background: red;
            position: absolute;
            width: 10000px;
        }
    }

    p.carousel-buttons {
        bottom: 0;
        font-size: 0.7rem;
        left: 0;
        line-height: 1;
        position: absolute;
        text-align: center;
        width: 100%;
        button {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: $red;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    

    

    .journo-list-menu {
        background: red;
        // left: 0;
        position: absolute;
        // width: 10000px;
        display: inline-block;
        float: left;
        width: auto;
        li {
            display: block;
            float: left;
            list-style: none;
        }
        a {
            display: block;
        }
    }

}