{% load static %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'races/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Montserrat:300,400,700,900" rel="stylesheet">
  
  {% if race and race.slug %}
    {% if race.slug == 'tour' %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/tour/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/tour/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/tour/favicon-16x16.png">
      <link rel="manifest" href="/static/favicons/tour/site.webmanifest">
      <link rel="mask-icon" href="/static/favicons/tour/safari-pinned-tab.svg" color="#000000">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="theme-color" content="#ffffff">
    {% elif race.slug == 'giro' %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/giro/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/giro/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/giro/favicon-16x16.png">
      <link rel="manifest" href="/static/favicons/giro/site.webmanifest">
      <link rel="mask-icon" href="/static/favicons/giro/safari-pinned-tab.svg" color="#EA527E">
      <meta name="msapplication-TileColor" content="#EA527E">
      <meta name="theme-color" content="#ffffff">
    {% elif race.slug == 'vuelta' %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/vuelta/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/vuelta/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/vuelta/favicon-16x16.png">
      <link rel="manifest" href="/static/favicons/vuelta/site.webmanifest">
      <link rel="mask-icon" href="/static/favicons/vuelta/safari-pinned-tab.svg" color="#C41A18">
      <meta name="msapplication-TileColor" content="#C41A18">
      <meta name="theme-color" content="#ffffff">
    {% else %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
      <link rel="manifest" href="/static/favicons/site.webmanifest">
      <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#000000">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="theme-color" content="#ffffff">
    {% endif %}
  {% else %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
  {% endif %}


</head>
<body class="{% if body_classes %}{{body_classes}}{% endif %}">

  <header class="site-header">
    <div class="wrap">
      <div class="logo-space region m1-9 m2-9 t-3 d-3 w-3">
        <a href="/" class="site-title">Fantasy Cycle</a>
      </div>
      <div class="site-header_login-region region m1-3 m2-3 t-9 d-9 w-9">
        {% block race_nav %}
        {% endblock %}
      </div>
    </div>
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
  
  <footer class="site-footer">
    <div class="wrap">
      <div class="region"><a href="http://smitharmyknife.com/" target="_blank" rel="noopener">Smith Army Knife</a></div>
    </div>
  </footer>

  {% block footer-js %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  {% endblock %}

</body>
</html>